{{ block title }}
    Encryption Task Survey
{{ endblock }}
{{ block content }}
<style>
    .buttonred {
        background-color: red;
        border: none;
        color: white;
        font-weight: bold;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}
</style>
<p>
    {{ if player.participant.v2_treatment }}
    Note that your earnings in this task were based on your performance and the performance of your matched Blue
    player <b>only if the Blue player chose</b> the payoff scheme that would <b>decrease your earnings</b>. Remember that if the Blue player chose this payoff scheme,
    your earnings were reduced by 1 token for each word your matched Blue player encrypted correctly.

    {{ else }}
    Note that your earnings in this task were based on your performance and the performance of your matched Blue player <b>only if the computer program assigned</b>
    the payoff scheme that would <b>decrease your earnings</b>. Remember that if the computer program assigned this payoff scheme, your earnings were reduced by 1 token
    for each word your matched Blue player encrypted correctly.

    {{ endif }}
</p>
<p>
    Now, please answer the following question.
</p>
<p>
    {{ if player.participant.v2_treatment }}
        Do you think your matched Blue player chose the payoff scheme that would decrease your earnings?
    {{ else }}
        Do you think the computer program assigned the payoff scheme that would decrease your earnings?
    {{ endif }}
</p>

{{ formfield 'externality_bool' }}

<div align="center">
    <button class="buttonred" value="true" name="submit">SUBMIT</button>
</div>

{{ endblock }}
