{{ extends "global/Page.html" }}
{{ block title }}
    Encryption Task Earnings Information
{{ endblock }}
{{ block content }}
{{ if player.participant.name == "victim1" }}
    {{ if player.information }}
        <p> Recall that your matched Blue player completed the same Encryption task as you, but that for every word the Blue player encrypted correctly,
            you lost 1 token from your earnings.</p>
        <p><b>Your matched Blue player decreased your additional earnings by {{
            player.participant.externality }} token(s) when exerting effort in the Encryption task.</b></p>
        <p> Therefore, your earnings for the Encryption task are {{ player.participant.payoff_final }} tokens.</p>
    {{ else }}
        <p> Recall that your matched Blue player completed the same Encryption task as you, but that for every word the Blue player encrypted correctly,
            you lost 1 token from your earnings.</p>
        <p> Your earnings for the Encryption task are {{ player.participant.payoff_final }} tokens.</p>

    {{ endif }}
{{ endif }}

{{ if player.participant.name == "victim2" }}
    {{ if player.participant.v2_treatment }}
        <p> Recall that your matched Blue player completed the same Encryption task as you, but that the Blue player had a choice to make between two payoff schemes
            prior to participating in the task.</p>
        <p> <b>The Blue player CHOSE the payoff scheme that WOULD {{ if player.participant.externality_imposed == 0 }}NOT {{ endif }}decrease your earnings</b>.</p>
        <p> This means the Blue player decreased your Encryption task earnings by {{ player.participant.externality }}
            token(s) while exerting effort in the task.</p>
        <p> Therefore, your earnings are {{ player.participant.payoff_final }} tokens.</p>
    {{ else }}
        <p> Recall that your matched Blue player completed the same Encryption task as you, but that the computer program assigned a payoff scheme that would have either
            decreased your earnings or the earnings of your matched Blue player.</p>
        <p> <b>The computer program assigned the payoff scheme that WOULD {{ if player.participant.externality_imposed == 0 }}NOT {{ endif }}decrease YOUR earnings</b>.</p>
        <p> This means the Blue player decreased your Encryption task earnings by {{ player.participant.externality }} token(s) while exerting effort in the task.</p>
        <p> Therefore, your earnings are {{ player.participant.payoff_final }} tokens.</p>
    {{ endif }}
{{ endif }}

<div class="row">
    <div class="col-md-12" align="right">
        {% next_button %}
    </div>
</div>

{{ endblock }}
