{{ block title }}
{{ if session.config.name == "perp" }}
    Part 2: Begin Encryption Task
{{else}}
Begin Encryption Task
{{endif}}
{{ endblock }}
{{ block content }}

<style>
    .buttonred {
        background-color: red;
        border: none;
        color: white;
        font-weight: bold;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}
</style>

{{ if session.config.name == "victim2" }}
    <!-- for yellow players -->
    <p>
        <br>For every word you encrypt correctly, <b>2 tokens will be added</b> to your earnings.<br>
        <br>For every word the blue player encrypts correctly, there is a possibility that <b>1 token may be
        taken away</b> from your earnings.</br>
        <br>Please proceed to the Encryption Task.<br>
        <br><b>You will not be able to pause the task, so please make sure that you are available for the next 8 minutes without any interruption.<br></b>
    </p>

{{ else }}
    <!-- for blue players -->
    <p>

        <br>You will now be randomly re-matched with <b>another yellow player</b>.</br>
        {{if player.externality == 1}} <br>Each word you encrypt will take away 1 token from the yellow player you
        are paired with.<br>
        {{ else }}
        <br>Each word you encrypt will not take away any tokens from the yellow player you are paired with.<br>
        {{ endif }}

        <br>Please proceed to the Encryption Task.<br>
        <br><b>You will not be able to pause the task, so please make sure that you are available for the next 8 minutes without any interruption.<br></b>

    </p>
{{ endif }}

<div align="center">

<button class="buttonred" value="true" name="beginencryptiontask">Begin Encryption Task</button>
</div>

{{ endblock }}