{{ block title }}
    Part 2: Begin Encryption Task
{{ endblock }}
{{ block content }}

<style>
    .buttonred {
        background-color: red;
        border: none;
        color: white;
        font-weight: bold;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}
</style>

{{ if session.config.name == "victim" }}
    <!-- for yellow players -->
    <p>
        <br>Since you were a yellow player in Part 1, you are once again a yellow player in Part 2.</br>
        <br>You have now been randomly re-matched with <b>another blue player</b>.<br>
        <br>Please proceed to the Encryption Task.<br>
        <br><b>You will not be able to pause the task, so please make sure that you are available for the next 8 minutes without any interruption.<br></b>
    </p>

{{ else }}
    <!-- for blue players -->
    <p>
         {{if player.externality == 1}}
        <br>You will now be randomly re-matched with <b>another yellow player</b>.</br>
        <br>Each word you encrypt will take away 1 token from the yellow player you are paired with.<br>
        <br>Please proceed to the Encryption Task.<br>
        <br><b>You will not be able to pause the task, so please make sure that you are available for the next 8 minutes without any interruption.<br></b>

        {{ else }}
        <br>You will now be randomly re-matched with <b>another yellow player</b>.</br>
        <br>Each word you encrypt will not take away any tokens from the yellow player you are paired with.<br>
        {{ endif }}
        <br>Please proceed to the Encryption Task.<br>
        <br><b>You will not be able to pause the task, so please make sure that you are available for the next 8 minutes without any interruption.<br></b>
    </p>
{{ endif }}

<div align="center">

<button class="buttonred" value="true" name="beginencryptiontask">Begin Encryption Task</button>
</div>

{{ endblock }}