{{ block title }}
    Thank You!
{{ endblock }}

{{ block content }}
<p>Thank you for your participation!</p>
<p>The computer program has randomly chosen
    <b>Part
    {{ if player.participant.random_part == "I" }}1
    {{ else }}2
    {{ endif }}
    </b> to compute your bonus payments.
</p>
<p>You correctly encrypted
    {{ if player.participant.random_part == "I" }}{{ player.participant.performance_I }} words in Part 1
    {{ else }}{{ player.participant.performance_II }} words in Part 2
    {{ endif }}.
    Your bonus payment for the encryption task will thus be
    <b>
        {{ player.participant.payoff }}
    </b>
    </p>
{{ if session.config.name == "victim" }}
        The bonus payment for the decision exercise is
        <b>
            {{ if player.participant.random_part == "I" }}
            {{ player.participant.dictator_I }}
            {{ else }}
            {{ player.participant.dictator_II }}
            {{ endif }}
        </b>.
    </p>

{{ else }}
    <p>Your bonus payment for the decision exercise will depend on the decision by your matched yellow player</p>
{{endif}}

<p><b>You have now completed the study, and your bonus payments will be processed within 21 days.</b></p>

    {% next_button %}

{{ endblock }}