{{ block title }}
 Decision Task Instructions
{{ endblock }}
{{ block content }}

{{ if session.config.name == "victim1" }}
<p>Thank you for completing the Encryption task. Recall that in that task, you were matched with a Blue player whose additional earnings decreased your additional earnings.
    We now turn to the Decision task.</p>
<p>In this task, <b>you (as the Yellow player)</b> are matched with the <b>same Blue player</b> you were matched with for the Encryption task. You will now be given <b>30 tokens</b>,
    while your matched Blue player will be given <b>15 tokens</b>. However, you now have an opportunity to change their earnings.
<p>You can transfer tokens to, or take away tokens from, your matched Blue player. You can transfer a <b>positive amount</b> in 1 token increments <b>up to a total
    of 30 tokens</b>, or you can take away/transfer a <b>negative amount</b> in 1 token increments <b>up to a total
    of 15 tokens</b>. Positive and negative transfer examples are provided on the next screen.</p>
{{ endif }}

{{ if session.config.name == "victim2" }}
    {{ if player.participant.v2_treatment }}
<p>Thank you for completing the Encryption task. Recall that in that task, you were matched with a Blue player who
    chose the payoff scheme that would {{ if player.participant.externality_imposed == 0 }}NOT {{ endif }}decrease your earnings. We now turn to the Decision task.</p>
<p>In this task, <b>you (as the Yellow player)</b> are matched with the <b>same Blue player</b> you were matched with for the Encryption task. You will now be given <b>30 tokens</b>,
    while your matched Blue player will be given <b>15 tokens</b>. However, you now have an opportunity to change their earnings.
<p>You can transfer tokens to, or take away tokens from, your matched Blue player. You can transfer a <b>positive amount</b> in 1 token increments <b>up to a total
    of 30 tokens</b>, or you can take away/transfer a <b>negative amount</b> in 1 token increments <b>up to a total
    of 15 tokens</b>. Positive and negative transfer examples are provided on the next screen.</p>
    {{ else }}
<p>Thank you for completing the Encryption task. Recall that in that task, the computer program assigned the payoff scheme that would
    {{ if player.participant.externality_imposed == 0 }}NOT {{ endif }}decrease your earnings. We now turn to the Decision task.</p>
<p>In this task, <b>you (as the Yellow player)</b> are matched with the <b>same Blue player</b> you were matched with for the Encryption task. You will now be given <b>30 tokens</b>,
    while your matched Blue player will be given <b>15 tokens</b>. However, you now have an opportunity to change their earnings.
<p>You can transfer tokens to, or take away tokens from, your matched Blue player. You can transfer a <b>positive amount</b> in 1 token increments <b>up to a total
    of 30 tokens</b>, or you can take away/transfer a <b>negative amount</b> in 1 token increments <b>up to a total
    of 15 tokens</b>. Positive and negative transfer examples are provided on the next screen.</p>
    {{ endif }}
{{ endif }}


         <div class="row">
    <div class="col-md-12" align="right">
        {% next_button %}
        </div>
</div>

{{ endblock }}