{{ extends "global/Page.html" }} {% block title %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'back_button_v3/js/prev_next_button.js' %}"></script>
{% endblock %}
{% block styles %}
    <link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <body>
        <!-- Tab navigation -->
        <ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">
            <li class="nav-item" >
                <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1"
                   onclick="topFunction()">1</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link active" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2"
                   onclick="topFunction()">2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab"
                   aria-controls="part3" onclick="topFunction()">3</a>
            </li>
        </ul>
        <br>
        <br>
        <!-- Tab content -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane active show" id="part1" role="tabpanel" aria-labelledby="part1-tab">
                <div class="card-header bg-transparent mainheader" >
                    <h1 class="card-title font-weight-bold">Part 3: Encryption Task Earnings Instructions</h1>
                </div>
                <p>
                    As the <b>Blue player</b>, you will now have a decision to make about your earnings and the earnings
                    of your matched counterpart.
                    You will choose to either earn <b>2 tokens</b> for each word encrypted correctly <b>while taking 1 token away</b> from your matched Yellow player
                    OR earn <b>1.5 tokens</b> for each word encrypted correctly <b>without taking any tokens away</b>
                    from your matched Yellow player.
                </p>
                <p>
                    For each word your matched Yellow player encrypts correctly, 2 tokens will be added to their earnings.  And, once again, your matched
                    Yellow player’s performance will not have any impact on your earnings in the Encryption task.
                </p>
                <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
            </div>
            <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">
                <div class="card-header bg-transparent mainheader" >
                    <h1 class="card-title font-weight-bold">Part 3: Encryption Task Earnings Examples</h1>
                </div>
                <p>
                    Here are three different scenarios of what impact your performance and your matched Yellow player’s performance could have on
                    additional earnings:
                </p>
                <p>
                    <b>Suppose both you and your matched Yellow player were both able to encrypt 20 words correctly.</b>
                    <ul>
                    <li>
                        If you chose the payoff scheme that would have no effect on the Yellow player’s
                        earnings, your earnings would be (20 x 1.5=) 30 tokens while the Yellow player would earn (20
                        x 2=) 40 tokens.</li>
                    <li>
                        If you chose the payoff that would decrease the Yellow player’s earnings, your earnings
                        would be (20 x 2=) 40 tokens while the Yellow player would earn (20 x 2=) 40 minus (20 x 1=)
                        20 = 20 tokens.</li>
                </ul>
                </p>
                <p>
                    <b>Now, suppose you were able to encrypt 25 words correctly, while your matched Yellow player
                        was able to encrypt 20 words correctly.</b>
                    <ul>
                    <li> If you chose the payoff scheme that would have no effect on the Yellow player’s earnings,
                    your earnings would be (25 x 1.5=) 37.5 tokens while the Yellow player would earn
                        (20 x 2=) 40 tokens.</li>
                    <li>If you chose the payoff scheme that would decrease the Yellow player’s earnings, your earnings
                        would be (25 x 2=) 50 tokens while the Yellow player would earn (20 x 2=) 40 minus (25 x 1=)
                        25 = 15 tokens.</li>
                </ul>
                </p>
                <p>
                    <b>As a last example, suppose you were only able to encrypt 5 words correctly, while your matched Yellow player was
                        able to encrypt 20 words correctly.</b>
                    <ul>
                    <li> If you chose the payoff scheme that would have no effect on the Yellow player’s
                    earnings, your earnings would be (5 x 1.5=) 7.5 tokens while the Yellow player would earn (20 x
                        2=) 40 tokens.</li>
                    <li> If you chose the payoff scheme that would decrease the Yellow player’s earnings, your earnings
                        would be (5 x 2=) 10 tokens while the Yellow player would earn (20 x 2=) 40 minus (5
                        x 1=) 5 = 35 tokens.</li>
                </ul>
                </p>
                <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
                <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
            </div>
            <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">
                <div class="card-header bg-transparent mainheader" >
                    <h1 class="card-title font-weight-bold">Part 3: Encryption Task Understanding Check</h1>
                </div>
                <p>
                    To check you have understood the instructions, please answer the following questions. You may go
                    back and read the instructions as many times as you want. <b>If you answer any question incorrectly, the
                computer program will automatically take you back to the instructions screen. </b>
                </p>
                {{ formfields }}
                <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
                <button class="nexttab btn-primary btn next">Next</button>
            </div>
        </div>
    </body>
{% endblock %}