{% block title %}
    Part 3: Encryption Task Payoff Choice
{% endblock %}
{% block content %}
    <p>
        You will now choose between two different payoff schemes. The <b>first payoff</b> scheme <b>decreases</b> your
        matched
        Yellow player’s earnings the better you perform in the task. The <b>second payoff</b> scheme has <b>no
        effect</b> on your
        matched Yellow player’s earnings the better you perform.
    </p>
    {{ formfields }}
    <div class="row">
        <div class="col-md-12" align="right">
            {% next_button %}
        </div>
    </div>
{% endblock %}