{% block title %}
    Part 3: Encryption Task Payoff Choice
{% endblock %}
{% block content %}
    <p>
        You will now choose between two different payoff schemes. The first payoff scheme decreases your matched
        Yellow player’s earnings the better you perform in the task. The second payoff scheme has no effect on your
        matched Yellow player’s earnings the better you perform.
    </p>
    {{ formfields }}
    <div class="row">
        <div class="col-md-12" align="right">
            {% next_button %}
        </div>
    </div>
{% endblock %}