{% block title %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'back_button_v3/js/prev_next_button.js' %}"></script>
{% endblock %}
{% block styles %}
    <link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <body>
        <!-- Tab navigation -->
        <ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">
            <li class="nav-item" >
                <a class="nav-link" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1"
                   onclick="topFunction()">Encryption Task Instructions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()">Encryption Task Understanding Check</a>
            </li>
        </ul>
        <br>
        <br>
        <!-- Tab content -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane" id="part1" role="tabpanel" aria-labelledby="part1-tab">
                <div class="card-header bg-transparent mainheader" >
                    <h3 class="card-title font-weight-bold">Part 2: Encryption Task Instructions</h3>
                </div>
                <p>
                    <br> The first task in Part 2 will be the same encryption task as in Part 1. In this task,
                    you will be shown a 5-letter word that you will encode into 5 numbers.  After you finish encoding a word, the computer program will prompt you with another word to encode. Once you encode that word, you will be given another word, and so on.</br>
                    <br>This process will continue for 8 minutes (480 seconds).</br>
                    <br><b><u>Player Roles</u></b>
                    <br>There is a possibility that each word a <b>blue player</b> encrypts correctly <b>may decrease</b> a yellow
                    player’s earnings by 1 token.</br>
                    <br>Similar to Part 1, each word a <b>yellow player</b> encrypts correctly will <b>not take away tokens</b> from
                    the blue player.</br>
                    <br><b><u>Token Earnings</u></b></br>
                    Each word a player encrypts correctly will add <b>2 tokens</b> to their earnings.</br>
                    <br>If any letters within a word are encrypted incorrectly, no tokens will be earned for that
                    word.</br>
                    <br>The maximum number of tokens any player will earn is 64. To earn 64 tokens, 32 words would need to be correctly
                         encrypted.</br>
                </p>
                <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
            </div>
            <div class="tab-pane active show" id="part3" role="tabpanel" aria-labelledby="part3-tab">
                <div class="card-header bg-transparent mainheader" >
                    <h3 class="card-title font-weight-bold">Encryption Task Understanding Check</h3>
                </div>
                <br>
                {{ formfields }}
                <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
                <button class="nexttab btn-primary btn next">Next</button>
            </div>
        </div>
    </body>
{% endblock %}
