{% block title %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'back_button_v3/js/prev_next_button.js' %}"></script>
{% endblock %}
{% block styles %}
    <link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <body>
        <!-- Tab navigation -->
        <ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">
            <li class="nav-item" >
                <a class="nav-link" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1"
                   onclick="topFunction()">Encryption Task Instructions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()">Encryption Task Understanding Check</a>
            </li>
        </ul>
        <br>
        <br>
        <!-- Tab content -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane" id="part1" role="tabpanel" aria-labelledby="part1-tab">
                <div class="card-header bg-transparent mainheader" >
                    <h3 class="card-title font-weight-bold">Encryption Task Instructions</h3>
                </div>
                <p>
                    <br>In this task, you will be shown a 5-letter word block that you will encode into 5 numbers.  As you can see in the
                    screenshot below, the first letter in the word is “P”.  The letter “P” corresponds to the number “322” in the encoding table
                    at the bottom of the screen. To complete this letter correctly, you should put the number “322” into the box below the letter “P”.
                    You need to complete encoding all 5 letters in the word correctly to have a correct answer.</br>
                    <br>This process will continue for 8 minutes (480 seconds).</br>
                        <br><b><u>Player Roles</u></b>
                <p> There is a possibility that each word a <b>blue player</b> encrypts correctly <b>may decrease</b> your earnings
                    by 1 token.</p>
                    <p>Each word <b>you</b> encrypt correctly will <b>not take away tokens</b> from the blue
                        player you are paired with.</p>
                    <br><b><u>Token Earnings</b></u><br>
                    Each word a player encrypts correctly will add  <b>2 tokens</b> to their earnings.<br>
                    <br>If any letters within a word are encrypted incorrectly, you will not earn any tokens for that word.</br>
                    <br>The maximum number of tokens any player will earn is 64. To earn 64 tokens, 32 words would need to be correctly
                     encrypted.</br>
                    <br>You will now have a chance to practice the task for 2 minutes, but you will <b>not be paid</b> for the
                    practice.</br></br>

                </p>
                <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
            </div>
            <div class="tab-pane active show" id="part3" role="tabpanel" aria-labelledby="part3-tab">
                <div class="card-header bg-transparent mainheader" >
                    <h3 class="card-title font-weight-bold">Encryption Task Understanding Check</h3>
                </div>
                <br>
                {{ formfields }}
                <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
                <button class="nexttab btn-primary btn next">Next</button>
            </div>
        </div>
    </body>
{% endblock %}