{{ block title }}
Encryption Task Earnings Information
{{ endblock }}
{{ block content }}



        {{ if player.choice_info }}
            {{ if player.participant.ext_choice == 1 }}
                <p>
                    The blue player you were paired with decreased your encryption task bonus payment by {{ player.participant.externality_II }} token(s).
                </p>
                <p>
                    The blue player <b>chose</b> the encryption task that <b>would decrease</b> your bonus payment.
                </p>
            {{ else }}
                <p>
                    The blue player you were paired with did not decrease your encryption task bonus payment.
                </p>
                <p>
                    The blue player <b>chose</b> the encryption task that <b>would not decrease</b> your bonus
                    payment.
                </p>
            {{ endif }}
            {{ if player.participant.externality_II != 0 }}
                <p>
                    The blue player you were paired with decreased your encryption task bonus payment by {{ player.participant.externality_II }} token(s).
                </p>
            {{ else }}
                <p>
                    The blue player you were paired with did not decrease your encryption task bonus payment.
                </p>
            {{ endif}}
        {{ endif }}

        <div class="row">
    <div class="col-md-12" align="right">
        {% next_button %}
        </div>
</div>
{{ endblock }}
