{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
{% endblock %}

{% block content %}

    {{ if session.config.name == "perp" }}
    <h1>Part {{ player.round_number }}: Encryption Task Complete</h1>
    <br><p>You have completed Part {{ player.round_number }}, and your earnings will be displayed on the
    next page.</p>

    {{ else }}
     <h1>Encryption Task Complete</h1>
     <br><p>You have completed the Encryption task, and your  earnings will be displayed on the
    next page.</br></p>

    {{ endif }}

      <div class="row">
    <div class="col-md-12" align="right">
        {% next_button %}
        </div>
</div>

{% endblock %}
