{{ extends "global/Page.html" }} {% block title %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'back_button_v3/js/prev_next_button.js' %}"></script>
{% endblock %}
{% block styles %}
    <link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<style type="css">
<!--
 .tab { margin-left: 40px; }
-->
</style>
    <body>
        <!-- Tab navigation -->
        <ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">
            <li class="nav-item" >
                <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1"
                   onclick="topFunction()">1</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2"
                   onclick="topFunction()">2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab"
                   aria-controls="part3" onclick="topFunction()">3</a>
            </li>
        </ul>
        <br>
        <br>
        <!-- Tab content -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane active show" id="part1" role="tabpanel" aria-labelledby="part1-tab">
                <div class="card-header bg-transparent mainheader" >
                    <h1 class="card-title font-weight-bold">Encryption Task Earnings Instructions</h1>
                </div>
                    <p>
                        Both Blue and Yellow players engage in the Encryption task for their additional earnings. For
                        each word <b>you (as the Yellow player)</b> encrypt correctly,
                        you will <b>earn 2 tokens</b>. You are free to earn as many tokens as you can during the 6-minute Encryption task.
                        You will earn nothing for any word encrypted incorrectly. Note that both Yellow and Blue
                        players face the same conditions <b>except for the payoff scheme</b>.
                    </p>
                    <p>
                        The <b>Blue player</b> will have <b>made a choice</b> between one of the following payoff schemes
                        prior to their participation in the Encryption task:
                    </p>
                    <ul>
                        <li>For each word encrypted correctly, 2 tokens are added to the Blue player's
                            earnings but <b>you lose 1 token</b>.</li>
                        <li>For each word encrypted correctly, 1.5 tokens are added to the Blue player's
                            earnings with <b>no effect on your earnings</b>.</li>
                    </ul>
                    <p>
                        The Yellow player, on the other hand, will only have one payoff scheme with no effect on the
                        matched Blue player’s earnings. As the Yellow player, your earnings are <b>positively affected</b> by your performance in the
                        Encryption task, but <b>might be negatively affected</b> by your matched Blue player’s
                        performance  <b>depending on the payoff choice made by the Blue player</b>. Note that the Blue player was also told how their matched Yellow
                        player’s earnings would be affected before they made their payoff choice.
                    </p>
                    <p>
                        On the next screen, you will be provided with three different scenarios of what impact your
                        performance and your matched Blue player’s performance could have on additional earnings.
                    </p>
                <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
            </div>

            <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">
                <div class="card-header bg-transparent mainheader" >
                    <h1 class="card-title font-weight-bold">Encryption Task Earnings Examples</h1>
                </div>
                        <p>The following are earnings examples based on performance of both players and your matched
                            Blue player’s payoff choice.</p>
                        <p>
                            <b>Suppose both you and your matched Blue player were able to encrypt 20 words correctly.</b>
                            <ul>
                                <li>If the Blue player chose the payoff that would have no effect on your earnings,
                                your earnings would be (20 x 2=) 40 tokens, while the Blue would earn (20 x 1.5 =) 30 tokens.</li><br>
                                <li>If the Blue player chose the payoff that would decrease your earnings, your
                                earnings would be (20 x 2=) 40 minus (20 x 1=) 20 = 20 tokens, while the Blue player would
                                earn (20 x 2=) 40 tokens.</li>
                            </ul>
                        </p>
                        <p> <b>Now, suppose you were able to encrypt 20 words correctly, while your matched Blue
                            player was able to encrypt 25 words correctly.</b>
                          <ul>
                              <li>If the Blue player chose the payoff that would have no
                            effect on your earnings, your earnings would be (20 x 2=) 40 tokens, while the Blue player
                                would earn (25 x 1.5=) 37.5 tokens.<br>
                           <br> <li>If the Blue player chose the payoff that would decrease your earnings, your earnings would be
                            (20 x 2 =) 40 minus (25 x 1=) 25 = 15 tokens, while the Blue player would earn (25 x 2=) 50 tokens.</li></ul>
                            </p>
                        <p> <b>As a last example, suppose you were able to encrypt 20 words correctly, while your matched Blue player was only able to encrypt
                            5 words correctly.</b>
                            <ul>
                            <li>If the Blue player chose the payoff that would have no effect on your earnings, your
                                earnings would be (20 x 2=) 40 tokens, while the Blue player would earn (5 x 1.5=)
                                7.5 tokens.<br>
                           <br> <li>If the Blue player chose the payoff that would decrease your earnings, your earnings would be
                            (20 x 2=) 40 minus (5 x 1=) 5 = 35 tokens, while the Blue player would earn (5 x 2=) 10 tokens.</li>
                </ul>
                </p>
                <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
                <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
            </div>

            <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">
                <div class="card-header bg-transparent mainheader" >
                    <h1 class="card-title font-weight-bold">Encryption Task Understanding Check</h1>
                </div>
                <br />
                To check you have understood the instructions, please answer the following questions.
                You may go back and read the instructions as many times as you want. <b>If you answer any question incorrectly, the
                computer program will automatically take you back to the instructions screen. </b>
                <br />
                {{ formfields }}
                <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
                <button class="nexttab btn-primary btn next">Next</button>
            </div>
        </div>
    </body>
{% endblock %}