{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
{% endblock %}

{% block content %}

 {{ if player.participant.name == "perp" }}
    <h2>Part {{ player.round_number }}: Encryption Task Earnings</h2>
    <p>Your earnings are {{ player.tokens }} tokens in this Encryption task.</p>

  {{ else }}
    <h2>Encryption Task Earnings</h2>
    <br><p>Your earnings are {{ player.participant.payoff_final }} token(s).</p>

 {{ endif }}

<div class="row">
    <div class="col-md-12" align="right">
        {% next_button %}
    </div>
</div>

{% endblock %}
