{% block title %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'back_button_v3/js/prev_next_button.js' %}"></script>
{% endblock %}
{% block styles %}
    <link href="{% static 'back_button_v3/css/custom.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <body>
        <!-- Tab navigation -->
        <ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">
            <li class="nav-item" >
                <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1"
                   onclick="topFunction()">1</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2"
                   onclick="topFunction()">2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab"
                   aria-controls="part3" onclick="topFunction()">3</a>
            </li>
        </ul>
        <br>
        <br>
        <!-- Tab content -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane active show" id="part1" role="tabpanel" aria-labelledby="part1-tab">
                <div class="card-header bg-transparent mainheader" >
                    <h1 class="card-title font-weight-bold">Encryption Task Earnings Instructions</h1>
                </div>
                    <p>
                        Both Blue and Yellow players engage in the Encryption task for their additional earnings. For
                        each word <b>you (as the Yellow player)</b> encrypt correctly,
                        you will <b>earn 2 tokens</b>. You are free to earn as many tokens as you can during the 6-minute
                        Encryption task. You will earn nothing for any word encrypted incorrectly. Note that both Yellow and Blue players face the same conditions
                        <b>except for the payoff scheme</b>.
                    </p>
                    <p>
                        The <b>computer program</b> will have randomly assigned <b>the Blue player</b> to one of the following
                        payoff schemes prior to their participation in the Encryption task:
                    </p>
                    <ul>
                        <li>
                            For each word encrypted correctly, <b>2 tokens are added</b> to their earnings
                            but the <b>Yellow player loses 1 token.</b>
                        </li>
                        <li>
                            For each word encrypted correctly, <b>1.5 tokens are added</b> to their earnings
                            with <b>no effect on the Yellow player’s earnings.</b>
                        </li>
                    </ul>
                    <p>
                        The Yellow player, on the other hand, will only have one payoff scheme with no effect on the matched Blue player’s earnings.
                        As the Yellow player, your earnings are <b>positively affected</b> by your performance in the
                        task, but <b>might be negatively affected</b> by your matched Blue player’s performance
                        <b>depending on the random assignment of the computer program</b>. Note that the Blue player was also told how their matched Yellow player’s earnings
                        would be affected before they began the task.
                    </p>
                    <p>
                        On the next screen, you will be provided with three different scenarios of what impact your performance and your matched Blue player’s
                        performance could have on additional earnings.
                    </p>
                <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
            </div>

            <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">
                <div class="card-header bg-transparent mainheader" >
                    <h1 class="card-title font-weight-bold">Encryption Task Earnings Examples</h1>
                </div>
                <p>The following are earnings examples based on performance of both players and the computer
                    program’s random selection of the payoff scheme.</p>
                <p>Suppose both you and your matched Blue player were able to encrypt 20 words correctly. Now further suppose that the
                    computer program assigned the payoff scheme that would have no effect on your earnings. This means that your earnings from the Encryption task would be
                    (20*2 =) 40 tokens. In this example, your matched Blue player would earn (20*1.5 =) 30 tokens,
                    while you would earn 40 tokens. However, if the computer program assigned the payoff scheme that would decrease your earnings, your earnings from the
                    Encryption task would be (20*2 =) 40 minus (20*1 =) 20  = 20 tokens.  Hence, in this example, your matched Blue player would earn (20*2 =) 40 tokens,
                    while you would earn 20 tokens.</p>
                <p>Now, suppose you were able to encrypt 20 words correctly, while your matched Blue player was able to encrypt 25 words correctly. Now further suppose that the
                    computer program assigned the payoff scheme that would have no effect on your earnings. This means that your earnings from the Encryption task would be
                    (20*2 =) 40 tokens. In this example, your matched Blue player would earn (25*2 =) 50 tokens, while you would earn 40 tokens. However, if the computer program
                    assigned the payoff scheme that would decrease your earnings, your earnings from the Encryption task would be (20*2 =) 40 minus (25*1 =) 25 = 15 tokens.  Hence, in
                    this example, the matched Blue player would earn (25*2 =) 50 tokens, while you would earn 15
                    tokens.</p>
                <p>As a last example, suppose you were able to encrypt 20 words correctly, while your matched Blue player was only able
                    to encrypt 5 words correctly. Now further suppose the computer program assigned the payoff scheme that would have no effect on your earnings. This means that your
                    earnings from the Encryption task would be (20*2 =) 40 tokens. In this example, your matched Blue
                    player would earn (5*2 =) 10 tokens, while you would earn 40 tokens. However, if the computer program assigned the payoff scheme that would decrease your earnings,
                    your earnings from the Encryption task would be (20*2 =) 40 minus (5*1 =) 5 = 35 tokens.  Hence, in this example, the matched Blue player would earn
                    (5*2 =) 10 tokens, while you would earn 35 tokens.</p>
                <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
                <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
            </div>

            <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">
                <div class="card-header bg-transparent mainheader" >
                    <h1 class="card-title font-weight-bold">Encryption Task Understanding Check</h1>
                </div>
                <br />
                To check you have understood the instructions, please answer the following questions. You may go back
                and read the instructions as many times as you want.
                <br />
                {{ formfields }}
                <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
                <button class="nexttab btn-primary btn next">Next</button>
            </div>
        </div>
    </body>
{% endblock %}